<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDbContext" connectionString="Data Source=DESKTOP-G3UCR7P\SQLEXPRESS;Initial Catalog=HotelDb;Integrated Security=True; Application Name=EFCoreReversePocoDemo.App" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>